body {
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-size: 30px;
  padding: 0.2em;
}

.container {
  background-color: beige;
  color: black;
}

.row {
  margin: 0 auto;
  height: 47px;
}

.cellStyle {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  font-family: helvetica;
  font-size: 30px;
}

.centered {
  height: "40px";
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
